*.iml
.mvn/
.idea/
out/
target/
src/main/resources/email.properties
src/main/resources/persistence.properties
phantomjsdriver.log
src/main/resources/images/logo.png
src/main/resources/images/bsoft.biz.png
src/main/resources/hibernate.cfg.xml
mvn*
/bower_components
/node_modules
.README.swp
src/main/resources/static/css/bootstrap.css
src/main/resources/static/css/xeditable.css
src/main/resources/static/fonts/*
src/main/resources/static/js/angular-resource.js
src/main/resources/static/js/angular-route.js
src/main/resources/static/js/angular-translate.js
src/main/resources/static/js/angular.js
src/main/resources/static/js/me-lazyload.js
src/main/resources/static/js/xeditable.js
