<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Сброс пароля</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Ссылка для сброса пароля:</p>
<a th:href="${url}" th:text="${url}" href="https://tirhleb.com">https://tirhleb.com</a>
<p>
    <a href="https://tirhleb.com"><img src="../../images/logo.png" alt="ЗАО &quot;Тираспольский Хлебокомбинат&quot;" title="ЗАО &quot;Тираспольский Хлебокомбинат&quot;" th:src="'cid:logo.png'" /></a>
</p>
<p>
    С уважением, <br />
    <em>ЗАО "Тираспольский Хлебокомбинат"</em>
</p>
<p>
    <a href="http://bsoft.biz"><img src="../../images/poweredbybs.png" alt="БизнесСофт" title="БизнесСофт" width="150" th:src="'cid:bsoft.biz.png'" /></a>
</p>
</body>
</html>