<h1>Заявка</h1>
<div class="pannel panel-danger">
	<div class="panel-body">
		<div>Дата: <a href="#" editable-date="date" onaftersave="loadOrder()">{{ date | date:'dd.MM.yyyy' || 'empty' }}</a></div>
		<div>Группа продукции: <a href="#" editable-select="group" buttons="no" e-ng-options="g.id as g.groupName for g in groups" onaftersave="loadOrder()">{{ showGroup() }}</a></div>
	</div>
	<div ng-class="orderStatus.status=='INPUT'||orderStatus.status=='DECLINED'?'panel-heading':'panel-body'">
		<div>Статус заказа: {{orderStatus.status}}</div>
		<div>Комментарий: {{orderStatus.commentText}}</div>
		<button class="btn btn-primary" ng-show="orderStatus.status=='INPUT'||orderStatus.status=='DECLINED'" ng-click="confirmOrder()">Подать заявку</button>
	</div>
</div>
<br>
<br>
<div>
	<table class="table table-bordered table-hover table-condensed">
		<tr style="font-weight: bold; white-space: nowrap">

			<td style="width:70%">
				Продукция
			</td>
			<td style="width:15%">
				Первый завоз
				<br>
				<form editable-form name="countform" onaftersave="saveColumn('countform')" ng-show="countform.$visible">
					<button type="submit" ng-disabled="countform.$waiting" class="btn btn-primary">
						сохранить
					</button>
					<button type="button" ng-disabled="countform.$waiting" ng-click="countform.$cancel()" class="btn btn-default">
						отмена
					</button>
				</form>
				<button class="btn btn-default" ng-show="!countform.$visible" ng-click="countform.$show()">
					редактировать
				</button>
			</td>
			<td style="width:15%">
				Второй завоз
				<br>
				<form editable-form name="count2form" onaftersave="saveColumn('count2form')" ng-show="count2form.$visible">
					<button type="submit" ng-disabled="count2form.$waiting" class="btn btn-primary">
						сохранить
					</button>
					<button type="button" ng-disabled="count2form.$waiting" ng-click="count2form.$cancel()" class="btn btn-default">
						отмена
					</button>
				</form>
				<button class="btn btn-default" ng-show="!count2form.$visible" ng-click="count2form.$show()">
					редактировать
				</button>
			</td>
		</tr>
		<tr ng-repeat="item in items | filter: {itemGroup: {id: group}} | orderBy:['ord','itemName']">
			<td>{{item.itemName}}</td>
			<td editable-text="getOrderItem(item.id).itemCount" e-form="countform" e-name="id{{item.id}}count">{{getOrderItem(item.id).itemCount}}</td>
			<td editable-text="getOrderItem(item.id).itemCount2" e-form="count2form" e-name="id{{item.id}}count2">{{getOrderItem(item.id).itemCount2}}</td>
		</tr>
	</table>
	<br>
	<details><summary>Заявка</summary> <pre>{{fullOrderItems | json}}</pre> </details>
	<details><summary>items</summary> <pre>{{items | json}}</pre> </details>
</div>